html, body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    margin: 3% auto;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
.scoreboard {
    margin: 5% 0;
    width: 100%;
    text-align: center;
}
.wins, .losses, .targetNumber, .total {
    width: 30%;
    display: inline-block;
    padding: .5rem;
}
img {
    width: 24.4%;
    height: 200px;
    border-radius: 3px;
    box-shadow: 0 0 3px #000;
}
.crystals {
    display: inline;
}
.crystalWrapper {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.newGame {
    width: 100%;
    text-align: center;
    margin: 2% auto;
}
#newGame {
    width: 30%;
    height: 3rem;
}
#winsLosses, #totalTracker {
    border: 1px solid black;
    box-shadow: 0 0 2px #000 inset;
    width: 25%;
    text-align: center;
    display: inline-block;
    padding: .5rem;
}
button {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: larger;
    border: 2px solid #e9cfffb5;
    color: #bb87e8b5;
    background: #f3e6feb5;
    font-weight: bold;
    border-radius: 25px;
}
button:hover {
    letter-spacing: 5px;
    border: 2px dotted #d482fc;
    color: #d482fc;
    font-weight: bold;
}
#newGame:active {
    border: 2px solid #8d8a8a;
    color: #747171;
    background: #747171;
}
#newGame:focus {
    border: 2px solid #8d8a8a;
    color: #747171;
    outline: none;
    background: #d5d3d3;
}